@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvedor: @ViewData["Desenvolvedor"]</p>

<address>
    <strong>Mais informações neste </strong> <a href="http://www.deja.com.br">Site.</a>
</address>
